<h1>Todo List</h1>	
				<div class = "row">
					<div class = "col-xs-6 col-xs-offset-3">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
							</span>
						<input type="text" class="form-control" placeholder="Search for.." ng-model="searchText">
						</div>
					</div>
				</div>	
				<!-- thingy in items is $scope.items	searchText is also attached to $scope -->		
					<div ng-repeat = "thingy in items | filter:searchText"><!-- this is a for each loop the current one is called thingy don't need to use $scope in html the curly brackets let us know that it is a variable-->
						<div class="panel panel-default">
							<div class="panel-body">
								<div class = "col-xs-1"><input type="checkbox" name=""/></div>
								<div class = "col-xs-6"><a ng-href="#/items/{{thingy.id}}">{{thingy.task}}</a></div>  
								<div class = "col-xs-1">{{thingy.assignedTo}}</div>
								<div class = "col-xs-1">{{thingy.location}}</div>
								<div class = "col-xs-1">{{thingy.urgency}}</div>
								<div class = "col-xs-1">{{thingy.dueDate}}</div>
								<div class = "col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(thingy.id)"><i class="fa fa-trash" aria-hidden="true"></i></div></button>
							</div>
						</div>	
				</div>	

